.confirmation-container{
 
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
    border-radius: 10px;
    background-color: #747373;
    height: 100vh;

    
div{
    width: 60%;
     display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
  background-color: rgb(37, 36, 36);
   color: white;
     height: 50vh;

    border-radius: 10px;


}
button{
    width: 20%;
    margin-top: 20px;
}
}
h1 {
    font-weight: bold;
}
button:hover{
    background-color: #444242;
}
