.confirmation-container{
 
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
    border-radius: 10px;
    background-color: black;
    height: 100vh;

    
div{
    width: 60%;
     display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
  background-color: white;
     height: 50vh;
    color: black;

    border-radius: 10px;


}
button{
    width: 10%;
    margin-top: 20px;
    text-align: center;
     background-color:rgb(80, 79, 79);
     padding: 5px;
     border-radius: 5px;
     color: white;
}
}
h1 {
    font-weight: bold;
}
button:hover{
   background-color:rgb(31, 30, 30);
}
.confirm p{
    color: black;
}