@font-face {
    font-family: 'Athiya';
    src: url('./assets/fonts/Athiya\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Athiya';
    background-color: black;
}


/* src/styles.css or src/App.css */
@media (min-width: 641px) and (max-width: 766px) {
    .exhibition-card {
      /* Custom styles for screens between 641px and 766px */
      width: 48%;
      height: 350px;
    }
  }
  